<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TinMachine</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);">
<center><h1 class="text-capitalize"><kbd>Welcome to TinMachine</kbd></h1></center>
{% block content %}
    <center><a href=/homer class="btn btn-success">Click to Start Magic</a></center>
    <h3>Due to Tinder account not being premium, we can only give 100 likes a day. So, i have limited the number of people to 3 per refresh instead of continuously classifying.</h3>
{% endblock %}

</body>
</html>